@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'JetBrains Mono', monospace;
}

:root {
  --color-bg: #ffffff;
  --color-text: #1a1a1a;
  --color-border: #e5e5e5;
}

:root.dark {
  --color-bg: #121212;
  /* Not pure black */
  --color-text: #e5e5e5;
  --color-border: #27272a;
}

body {
  font-family: var(--font-mono);
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}